.header-container {
  border-bottom: 1px solid #b4b4b4;
  background-color: #ffffff;
  height: 70px;
  display: flex;
  align-items: center;
}

.header {
  margin: 0 auto;
  width: 1080px;

  .username {
    margin: 0px 5px;
  }
}